<%=  render 'layouts/banner' %>
<div class="container">
  <h1>The sky is the limit</h1>
</div>



<h2>Drones</h2>

<% @drones.each do |drone| %>
<div>
  <p><%= drone.name %></p>
  <p><%= drone.price %></p>
  <p><%= drone.owner.user_name %></p>
</div>
<% end %>
