<%=  render 'layouts/banner' %>
<div class="container">
  <h3 class="index-title">Drones for rent</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="hovereffect">
          <img class="img-responsive" src="https://images.unsplash.com/photo-1521405924368-64c5b84bec60?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=77959163d82e5918179b9b70c497185f&auto=format&fit=crop&w=1934&q=80" width="360" height="250" alt="">
          <div class="overlay">
            <a class="info available" href="#">Available</a>
          </div>
        </div>
        <article class="info">
          <div class="name">
            <h3>Title</h3>
            <p>Brand</p>
          </div>
          <div class="price">
            <h3>$485<span class="pd"> per day</span></h3>
          </div>
        </article>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="hovereffect">
          <img class="img-responsive" src="https://images.unsplash.com/photo-1521405924368-64c5b84bec60?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=77959163d82e5918179b9b70c497185f&auto=format&fit=crop&w=1934&q=80" width="360" height="250" alt="">
          <div class="overlay">
            <a class="info unavailable" href="#">Unavailable</a>
          </div>
        </div>
        <article class="info">
          <div class="name">
            <h3>Title</h3>
            <p>Brand</p>
          </div>
          <div class="price">
            <h3>$485<span class="pd"> per day</span></h3>
          </div>
        </article>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="hovereffect">
          <img class="img-responsive" src="https://images.unsplash.com/photo-1521405924368-64c5b84bec60?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=77959163d82e5918179b9b70c497185f&auto=format&fit=crop&w=1934&q=80" width="360" height="250" alt="">
          <div class="overlay">
            <a class="info available" href="#">Available</a>
          </div>
        </div>
        <article class="info">
          <div class="name">
            <h3>Title</h3>
            <p>Brand</p>
          </div>
          <div class="price">
            <h3>$485<span class="pd"> per day</span></h3>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="hovereffect">
          <img class="img-responsive" src="https://images.unsplash.com/photo-1521405924368-64c5b84bec60?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=77959163d82e5918179b9b70c497185f&auto=format&fit=crop&w=1934&q=80" width="360" height="250" alt="">
          <div class="overlay">
            <a class="info available" href="#">Available</a>
          </div>
        </div>
        <article class="info">
          <div class="name">
            <h3>Title</h3>
            <p>Brand</p>
          </div>
          <div class="price">
            <h3>$485<span class="pd"> per day</span></h3>
          </div>
        </article>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="hovereffect">
          <img class="img-responsive" src="https://images.unsplash.com/photo-1521405924368-64c5b84bec60?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=77959163d82e5918179b9b70c497185f&auto=format&fit=crop&w=1934&q=80" width="360" height="250" alt="">
          <div class="overlay">
            <a class="info available" href="#">Available</a>
          </div>
        </div>
        <article class="info">
          <div class="name">
            <h3>Title</h3>
            <p>Brand</p>
          </div>
          <div class="price">
            <h3>$485<span class="pd"> per day</span></h3>
          </div>
        </article>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="hovereffect">
          <img class="img-responsive" src="https://images.unsplash.com/photo-1521405924368-64c5b84bec60?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=77959163d82e5918179b9b70c497185f&auto=format&fit=crop&w=1934&q=80" width="360" height="250" alt="">
          <div class="overlay">
            <a class="info available" href="#">Available</a>
          </div>
        </div>
        <article class="info">
          <div class="name">
            <h3>Title</h3>
            <p>Brand</p>
          </div>
          <div class="price">
            <h3>$485<span class="pd"> per day</span></h3>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<h2>Drones</h2>

<% @drones.each do |drone| %>
<div>
  <p><%= drone.name %></p>
  <p><%= drone.price %></p>
  <p><%= drone.owner.user_name %></p>
</div>
<% end %>
