<div class="banner">
  <%= video_tag 'banner-video.mp4', autoplay: :autoplay, loop: :loop, mute: :mute %>)
  <div class="banner-content">
    <h1>Sky's the limit</h1>
    <h4>Rent a drone, push your limit</h4>
    <a href="<%= new_user_registration_path %>" class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>

<!-- linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), -->
